/*最外層*/

.zeromark_tabManager_minePage {
    height: 100%;
    width: 300px;
    box-shadow: 0px 0px 3px rgba(20%, 20%, 40%, 0.5) inset;
    background-color: White;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*外框填滿*/

.zeromark_tabManager_full {
    height: 100%;
    width: 100%;
    background-color: White;
}

.zeromark_tabManager_toolBar {
    height: 30px;
    width: 100%;
    background: grey;
    display: flex;
    position: relative;
    align-items: center;
}

/*工具列*/

.zeromark_tabManager_moreTool {
    display: inline-block;
    height: 30;
    width: 30; 
    background: #e67e22;
}

.zeromark_tabManager_setting{
    display: inline-block;
    height: 30;
    width: 30; 
    background: #e74c3c;
}

/*搜尋欄最外框*/

.zeromark_tabManager_mineTabSearchBar {
    margin: 5px;
    height: 35px;
    width: 100%;
    position: relative;
    /*border-bottom: 1px solid;*/
}

/*搜尋欄容器*/

.zeromark_tabManager_tabSearchBar_container {
    height: 40px;
    margin: 5px;
    margin-right: 1px;
    margin-left: 5px;
    overflow: hidden;
}

/*搜尋框*/

.zeromark_tabManager_tabSearchBar {
    font: normal 16px Roboto, sans-serif;
    padding: 2px 7px 2px 7px;
    border: none;
    position: relative;
    height: 30px;
    width: 80%;
    resize: none;
    background: #e6e6e6;
    display: inline-block;
}

/*搜尋按鈕容器*/

.zeromark_tabManager_tabSearchIcon_container {
    height: 36px;
    width: 36px;
    background: #e6e6e6;
    top: 0;
    margin:100 100;
}

/*搜尋圖示*/

.zeromark_tabManager_tabSearchIcon {
    height: 34px;
    width: 34px;
    position: absolute;
    right: 7px;
    top: 0;
    cursor: pointer;
}

/*分頁物件容器*/

.zeromark_tabManager_tabList {
    font: normal 16px Roboto, RobotoDraft, Helvetica, Arial;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    color: black;
    border-top: 1px solid #d1d3d6;
    border-bottom: 1px solid #d1d3d6;
}

/*分頁物件*/

.zeromark_tabManager_listItem {
    /*box-shadow: 1px 0px 3px rgba(20%, 20%, 40%, 0.5) inset;
    border-color:black;
        border-width:2px;
        border-style: solid;*/
    display: flex;
    height: 35px;
    position: relative;
    /*margin: 1px;*/
    /*border-radius: 2px;*/
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d3d6;
    /*padding: 2px 12px;*/
}

/*生成分頁選取時的特效*/

.zeromark_tabManager_listItem_selected {
    border-style: solid;
    border-width: 2px;
    border-color: skyblue;
    margin: 3px 5px;
    padding: 0px 12px;
}

/*不滿足搜尋時隱藏分頁*/

.zeromark_tabManager_invisible {
    display: none;
}

/*分頁縮圖*/

.zeromark_tabManager_favicon {
    line-height: 34px;
    display: block;
    background-color: transparent;
    position: flex;
    background-size: 1rem 1rem;
    width: 22px;
    height: 22px;
    resize: none;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*分頁名稱*/

.zeromark_tabManager_tabtitle {
    line-height: 34px;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    width: 195px;
    font-size: 12px;
    cursor: pointer;
}

/*關閉分頁按鈕*/

.zeromark_tabManager_closeButton {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    right: 2px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.zeromark_tabManager_closeButton:hover {
	filter: brightness(65%);
}

.zeromark_tabManager_listItem_template {
    display: none;
}

.zeromark_tabManager_beForeListItem {
    height: 100%;
    width: 2px;
    margin: 0px 2px 0px 2px;
    position: relative;
}

.zeromark_tabManager_closeButton_c {
    height: 30px;
    width: 30px;
    line-height: 46px;
    position: relative;
    margin: 0px 3px;
}

.zeromark_tabManager_tabtitle_c {
    height: 34;
    position: relative;
    padding: 0;
    padding-top: 3px;
}

.zeromark_tabManager_favicon_c {
    height: 30px;
    width: 30px;
    position: relative;
    margin-left: 4px;
    margin-right: 7px;
    padding: 0;
    cursor: move;
}

/*標記當前分頁*/

.zeromark_tabmanager_listItem_currentTab {
    background-color: #85BBF9 !important;
}

/*滑鼠觸碰分頁特效*/

.zeromark_tabManager_listItem_mouseover {
    
	filter: brightness(95%);
}

.zeromark_tabManager_closedTabList_container {
    height: 129px;
    border-top: 1px solid #d1d3d6;
    margin-top: 3px;
	overflow-y: scroll;
}

.zeromark_tabManager_tabSearchIcon_container{
    height: 20%;
    border-top: 1px solid #d1d3d6;
}

.zeromark_tabManager_closedTab{
	/*box-shadow: 1px 0px 3px rgba(20%, 20%, 40%, 0.5) inset;
    border-color:black;
    border-width:2px;
    border-style: solid;*/
    display: flex;
    height: 35px;
    position: relative;
    /*margin: 1px;*/
    /*border-radius: 2px;*/
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d3d6;
    /*padding: 2px 12px;*/
}